body {
    background-image: url("/unit-4-game/assets/images/star\ trek\ insignia.jpg");
    background-repeat: no-repeat;    
    background-size: cover;
}

.title {
    text-align: center;
    font-size: 80px;
    color: lightslategrey;
    font-family: Luminari, fantasy;
    text-shadow: -5px -5px rgb(71, 71, 71);
    margin-bottom: 50px;
}

.alert {
    width:1100px;
    background-color: rgb(64, 78, 92);
    border-width: 5px;
    border-color: lightgrey;
    color: white;
    font-family: OCR A Std, monospace;  
    position: absolute; 
    top:100px;
}

.closeButton {
    text-align: center;
    font-size: 12px

}
 
.inst {
    font-size: 40px
}

.randomNumber {
    height:150px;
    width: 200px;
   
    background-color: rgb(92, 120, 148);
    margin-bottom: 30px; 
    border: 4px solid;
    border-radius: 5px;
    box-shadow: -5px -5px rgb(71, 71, 71);
    
 }

 .targetNum {
     font-family: OCR A Std, monospace; 
     font-size: 20px;
     text-align: center;
     text-decoration: underline;
 }

 .randomNumGen {
    text-align: center;
    font-size: 50px;
    font-family: OCR A Std, monospace; 
 }

 .winLosses {    
    height: 150px;
    width: 150px;
    background-color: rgb(189, 189, 189);
    margin-bottom: 30px;
    border: 4px solid; 
    text-align: center;
    text-decoration: underline;
    font-style: bold;
    font-family: OCR A Std, monospace;
    font-size: 20px;
    border-radius: 5px; 
    box-shadow: -5px -5px rgb(71, 71, 71);   
}

 .kirk {
    width: 175px;
    height: 175px;
}
 .picard {
    width: 175px;
    height: 175px;
 }

 .sisko {
    width: 175px;
    height: 175px;
 }

 .janeway {
    width: 175px;
    height: 175px;
    
 }
 .btn{
    box-shadow: -5px -5px rgb(71, 71, 71);
 }

 .score {
     height:50px;
     width: 300px;
     background-color: rgb(92, 120, 148);
     margin-top: 30px;
     margin-bottom: 30px;
     border: 4px solid;
     border-radius: 5px;
     box-shadow: -5px -5px rgb(71, 71, 71);
 }

 .totalScore {
    height: 150px;
    width: 300px;
    background-color: rgb(92, 120, 148);
    border: 4px solid;
    border-radius: 5px;
    margin-bottom: 150px;
    box-shadow: -5px -5px rgb(71, 71, 71);
}

h3 {
    text-align: center;
    font-family: OCR A Std, monospace;
    font-size: 24px;
    padding-top: 5px;
}

